html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

.contenedor {
    max-width: 900px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

@media (min-width:480px) {
    .dos-columnas {
        display: flex;
        justify-content: space-between;
    }
    .entrada-blog {
        flex-basis: calc(50% - 5rem);
    }
}

/*Los pasos para hacer esto son:
1.- crear la clase en el html div y en el hijo
2- crear el @media query en el css con el width que queramos segun dispositivo
3.-aplicar la clase padre dentro del media query
4.- coocar el display: flex y el justify-content: space between
5.- aplicar el flex-basis en la clase hijo para la separacion, que es
el calculo de la division al 50% del espacio menos la separacion de 5rem entre ellas*/

/*Si quisieramos agregar mas columnas pero conservar el ancho, habra que poner en 
.dos-columnas flex-wrap: wrap, ya que por defecto ignorara el justify-content
y las pondra todas juntas*/